{% extends 'base.html' %}
{% load static %}
{% block content %}
<section>
    <article>
        <h1>Menu</h1>
        <div class="row">
            <div class="column">
                {% for item in menu.menu %}
                <p>
                    <a href=" {% url 'menu_item' pk=item.pk %}">
                        {{item.name}}
                    </a>
                    <span class="menu-price">
                        ${{ item.price }}.00
                    </span>
                </p>
                {% endfor %}
            </div>
            <div class="column">
                <img src="/restaurant/static/img/menu.jpg" alt="">
            </div>
        </div>
    </article>
</section>
{% endblock %}